@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/* Bar */
.home-width {
  width: 100%;
  max-width: 1440px;
  margin-left: auto; /*horizontally center the element within its container*/
  margin-right: auto;
}

.dashboard {
  display: inline-block;
}
.sidebar {
  display: inline-block;
}
